* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
.head-our-team {
  color: white;
  padding: 100px;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/img-about-team/img-our-5.png);
}
.h1-head {
  padding-top: 40px;
  font-family: serif;
  font-size: 60px;
}
.par-head {
  padding-bottom: 30px;
  line-height: 1.5em;
  padding-top: 10px;
  font-size: 20px;
  padding-right: 400px;
}
.btn-head {
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 65px;
  padding: 17px 35px;
  background-color: #cd7f32;
}
.btn-head:hover {
  color: white;
  background-color: #582f0e81;
}
.info-manage {
  padding: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.img-manage {
  width: 80%;
}
.detail-manage {
  height: 50vh;
  margin-left: -200px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}
.h1-manage {
  padding-bottom: 20px;
  font-family: serif;
  font-size: 45px;
}
.contact-manage{
    padding-top: 30px;
}
.top-info,
.buttom-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.email-mange,
.phone-mange{
    line-height: 1.5em;
    padding-bottom: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.website-mange,
.exper-mange{
    line-height: 1.5em;
    gap: 10px;
    display: flex;
    align-items: center;
}
.bxl-facebook,
.bxl-linkedin,
.bxl-instagram-alt,
.bxl-telegram,
.bxl-youtube,
.bx-envelope,
.bxs-phone,
.bx-link,
.bx-stamp{
    margin-right: 10px;
    color: #dda15e;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #dda15e;
    /* background: #000; */
    font-size: 30px;
}
.icon-socail{
    padding-top: 40px;
}
.par-email,
.par-phone,
.par-web,
.par-exper{
    color: gray;
}
.par-email-1,
.par-phone-1,
.par-web-1,
.par-exper-1{
    font-weight: bold;
}