* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
}
.head-our-team {
  color: white;
  padding: 100px;
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/img-about-team/img-our-5.png);
}
.h1-head {
  margin-top: 120px;
  font-family: serif;
  font-size: 70px;
}
.par-head {
  padding-bottom: 50px;
  line-height: 1.5em;
  padding-top: 30px;
  font-size: 20px;
  padding-right: 400px;
}
.btn-head {
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 65px;
  padding: 17px 35px;
  background-color: #cd7f32;
}
.btn-head:hover {
  color: white;
  background-color: #582f0e81;
}
.info-manage {
  padding: 100px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.img-manage {
  width: 80%;
}
.detail-manage {
  height: 50vh;
  margin-left: -200px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}
.h1-manage {
  padding-bottom: 20px;
  font-family: serif;
  font-size: 45px;
}
.contact-manage{
    padding-top: 30px;
}
.top-info,
.buttom-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.email-mange,
.phone-mange{
    line-height: 1.5em;
    padding-bottom: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.website-mange,
.exper-mange{
    line-height: 1.5em;
    gap: 10px;
    display: flex;
    align-items: center;
}
.bxl-facebook,
.bxl-linkedin,
.bxl-instagram-alt,
.bxl-telegram,
.bxl-youtube,
.bx-envelope-2,
.bxs-phone-2,
.bx-link,
.bx-stamp{
    margin-right: 10px;
    color: #dda15e;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #dda15e;
    /* background: #000; */
    font-size: 20px;
    transition: transform 0.2s;
}
.bxl-facebook:hover{
  transform: translateY(-10px);
}
.bxl-linkedin:hover{
  transform: translateY(-10px);
}
.bxl-instagram-alt:hover{
  transform: translateY(-10px);
}
.bxl-telegram:hover{
  transform: translateY(-10px);
}
.bxl-youtube:hover{
  transform: translateY(-10px);
}
.bx-envelope-2:hover{
  transform: translateY(-10px);
}
.bxs-phone-2:hover{
  transform: translateY(-10px);
}
.bx-link:hover{
  transform: translateY(-10px);
}
.bx-stamp:hover{
  transform: translateY(-10px);
}
.icon-socail{
    padding-top: 40px;
}
.par-email,
.par-phone,
.par-web,
.par-exper{
    color: gray;
}
.par-email-1,
.par-phone-1,
.par-web-1,
.par-exper-1{
    font-weight: bold;
}
.exper{
  padding: 0 100px 100px 100px;
}
.h1-exper{
  padding-bottom: 20px;
  font-family: serif;
  font-size: 40px;
}
.par-exper{
  padding-bottom: 10px;
  line-height: 1.5em;
}
.work-expert{
  padding: 0 100px 100px 100px;
  display: grid;
  gap: 70px;
  grid-template-columns: 1fr;
}
.top-exper,
.buttom-exper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.img-exper{
  border-radius: 100%;
  height: 15vh;
  width: 100px;
  transition: transform 0.2s;
}
.img-exper:hover{
  transform: translateY(-10px);
}
.right-buttom,
.left-buttom,
.right-top,
.left-top{
  display: flex;
  align-items: center;
  gap: 20px;
}
.par-bu{
  padding-right: 50px;
  line-height: 1.5em;
}
.h2-bu{
  font-family: serif;
  padding-bottom: 10px;
}
.info-team{
  /* text-align: center; */
  padding: 0 100px 100px 100px;
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.img-team{
  height: 60vh;
  width: 100%;
}
.info-rika,
.info-phea,
.info-ka-ka{
  border-radius: 10px;
  height: 100vh;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.2s;
}
.info-ka-ka:hover{
  transform: translateY(-10px);
}
.info-rika:hover{
  transform: translateY(-10px);
}
.info-phea:hover{
  transform: translateY(-10px);
}
.h2-name{
  color: #bc6c25;
  padding: 20px 30px;
  font-family: serif;
}
.h3-name{
  padding: 0 30px 10px 30px;
}
.par-name{
  color: gray;
  line-height: 1.4em;
  padding: 0 10px 0 30px ;
}
.contact-team{
  padding-bottom: 30px;
  padding-top: 15px;
  text-align: center;
}