*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    padding: 30px 50px;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/img-footer/footer-3.png);
    /* background-color: aliceblue; */
    display: grid;
    grid-template-columns: 1fr;
    /* align-items: center; */
    justify-content: space-between;
}
.main-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.logo-footer{
    width: 90px;
}
.center-footer-left,
.center-footer-right,
.footer-right,
.footer-left{
    color: white;
    margin: 30px;
    /* font-size: 18px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-right{
    margin-left: -20px;
}
.bx{
    /* margin-right: 10px; */
    font-size: 20px;
}
.h3-footer{
    font-size: 25px;
}
.bxl-linkedin-square,
.bxl-instagram,
.bxl-twitter,
.bxl-facebook-circle{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid white;
    /* background: #000; */
    padding: 10px;
}
.bxl-linkedin-square:hover{
    color: #000;
}
.bxl-instagram:hover{
    color: #000;
}
.bxl-twitter:hover{
    color: #000;
}
.bxl-facebook-circle:hover{
    color: #000;
}
hr{
    color: black;
    width: 100%;
}
.copyright{
    color: white;
    padding-top: 10px;
    text-align: right;
}